<h2>Список контактов</h2>
<form [formGroup]="form" novalidate>
  <label>ID</label><input type="text" formControlName="id">&nbsp;
  <label>Фамилия</label><input type="text" formControlName="fam">&nbsp;
  <label>Имя</label><input type="text" formControlName="im">&nbsp;
  <label>Отчество</label><input type="text" formControlName="ot">&nbsp;
  <label>Телефон</label><input type="text" formControlName="phone">&nbsp;
  <label>email</label><input type="text" formControlName="email">&nbsp;
  <br>
  <button (click)="addValue(form.value)">Добавить элемент</button>
</form>
<pre>Содержимое reactivFormBuilder: {{form.value | json}}</pre>
<!-- <pre>{{phonebook | json}}</pre> -->
<table>
  <tr>
    <th>№</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>Телефон</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let contact of phonebook"> 
    <td>{{contact.id }}</td>
    <td>{{contact.fam}}</td>
    <td>{{contact.im}}</td>
    <td>{{contact.ot}}</td>
    <td>{{contact.phone}}</td>
    <td>{{contact.email}}</td>
  </tr>
  
</table>
